  /*Setting up the grid to make text appear inline with the image*/
  .grid-container {
    display: grid; /* Enable Grid layout */
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Two equal-width columns, the min 0 prevents the images in other sections from blowing out the columns*/
    grid-template-rows: repeat(2, auto); /* Five rows, height adjusts automatically to content */
    justify-content: center;
    gap: 10px; /* Adds space between grid items */
    padding: 20px;
  }

  .grid-item {
    padding: 10px;
    border: 2px solid #000000;
  }

  body {
    background-image: "background.jpg";
  }